page-campusMap {
    @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
    .fellowfont {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
    }
    #button {
        background-color: #11C1F3;
    }
    .iconalign {
        position: absolute;
        font-size: 28px;
        left: 320px;
    }
    .rightside {
        position: absolute;
        right: 0px;
        width: 300px;
        padding-right: 20px;
        text-align: right;
        font-size: 35px;
    }
    .ios,
    .md {
        .scroll {
            height: 100%
        }
        #map {
            width: 100%;
            height: 100%;
        }
    }
    .mapview {
        height: 100%;
        width: 100%;
        position: center;
    }
    //map theme
    .map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto', 'sans-serif';
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
        before the map loads. */
        display: none;
    }
    /* Display the control once it is inside the map. */
    #map .map-control {
        display: block;
    }
    .selector-control {
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
